{{>layouts/header}}
<div>
    <button type="button" class="btn btn-primary">버튼1</button>
    <button type="button" class="btn btn-secondary">버튼2</button>
    <button type="button" class="btn btn-success">버튼3</button>

    <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
</div>
{{>layouts/footer}}
